.form__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 358px;
  margin-bottom: 29.74px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.form__input::placeholder {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #000;
}

.form__input_type_error {
  border-bottom: 1px solid #ff0000;
}

.popup__error {
  display: none;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.5;
  color: #ff0000;
  position: absolute;
  top: calc(100% + -265px);
  left: 5;
  transition: opacity 0.3s;
}

.popup__error_visible {
  display: block;
}
