.gallery {
  font-family: "Inter", "Arial", sans-serif;
}

.gallery__cards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 475px) {
  .gallery__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 19px;
    box-sizing: border-box;
  }
}
